
* {
    box-sizing: border-box;
    
}
body {
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
}

.wrapper {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

footer,
header {
    background-color: #cddcf1;
}

h1 {
    font-family: 'Rufina', serif;
    margin: 0;
    padding: 12px;
}

h3,
h2,
h1 {
    text-align: center;
}

ul {
    text-align: center;    
    list-style: none;
    padding: 0 6px;
}

.main-nav a {
    display: block;
    padding: 6px;
}

.main-nav li {
    border: 1px solid white;
    border-radius: 16px;
    background-color: white;
    margin-bottom: 6px;
}

img {
    display: block;
    margin: 0 auto;
}
.profile-pic {
    border: solid darkgrey 1px;
    border-radius: 1em;
}
.intro {
    color: rgb(70, 65, 65)
}
a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

a:hover {
    color: rgb(112, 140, 219);
}

p {
    text-align: center;
}

span {
    display: block;
    text-align: center;
}

.footer-nav {
    border-top: solid darkgray 1px;
    margin-top: 24px;
   
}
.name,
.top {
    padding: 0 14px 8px;
}
#name {
    float:left;
}
.footer-nav li {
    float:right;  
    padding: 0 12px;  
}
#hide-nav {
    visibility: hidden;
}

/* ----- MEDIA QUERIES ----- */
@media (min-width: 768px) {

    .main-nav li {
        display: inline-block;
        padding: 6px 32px;
        margin: 0 12px;
    }
    .profile-pic {
        float: right;
    }
    .block {
        display: inline-block;
        width: 45%;
        vertical-align: top;
        padding: 0 18px;
    }
    .intro {
        text-align: left;
    }

    .pic {
       width: 90%;
       height: 80%;
   }
    header {
       padding: 0 12px 12px;
   }    
    #back-to-top {
       display: none;
   }
    #hide-nav {
       visibility: visible;
   }
}
@media (min-width: 1024px) {
    .student-name {
        float: left;
        font-size: 1.8em;
    }
    .main-nav li {
        float: right;
        margin-bottom: 16px;
    }
    p {
        font-size: 1.1em;
    }
    .block {
        width: 30%;
    }
    header {
        padding-top: 2px
    }
    .pic {
        width: 100%;
        height: 100%;
    }
    .profile-pic {
        width: 40%;
        height: 50%;
        margin: 0 12px;
    }
    .student-name,
    .intro {
        padding: 0 28px;
    }
}

/* --------- -- --------- */
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}